* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    scroll-snap-align: start;
}

#HomeCrest {
    display: inline-block;
}

#HomeCrest>img {
    width: 5vw;
}

.HouseSelector {
    display: inline-block;
    margin: 5px;
}

#HousesBanner>img {
    width: 100%;
    margin: auto;
    display: block;
    height: 55vh;
}

#MainContent {
    margin: auto;
    width: 50%;
}

#MainContent>h1 {
    text-align: center;
}

.interface {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}

#gryffindorpage {
    background-color: red;
}

#ravenclawpage {
    background-color: blue;
}

#slytherinpage {
    background-color: green;
}

#hufflepuffpage {
    background-color: yellow;
}

article {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HouseImage>img {
    height: 100%;
    width: 100%;
}

.HouseText {
    width: 70%;
}

footer {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}