* {
    margin: 0;
    padding: 0;
}

#HomeCrest {
    display: inline-block;
}

#HomeCrest>img {
    width: 5vw;
}

.HouseSelector {
    display: inline-block;
    margin: 5px;
}

#HousesBanner>img {
    width: 100%;
    margin: auto;
    display: block;
    height: 55vh;
}

#MainContent {
    margin: auto;
    width: 50%;
}

#MainContent>h1 {
    text-align: center;
}

article {
    width: 100%;
    display: flex;
}

.HouseImage>img {
    height: 100%;
    width: 100%;
}

.HouseText {
    width: 70%;
}

footer {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
}