* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

header {
    height: 100vh;
    scroll-snap-align: start;
    background: linear-gradient(to right, black, #090601, black, #140001, black, #010609, black, #010D03, black);
}

#HomeCrest {
    display: flex;
    padding: 1em 0 1em 0;
    justify-content: center;
}

#HomeCrest>img {
    width: 3vw;
}

nav {
    display: flex;
    justify-content: center;
}

.HouseSelector {
    font-size: 1.8em;
    padding: 0 3em 0 3em;
}

.HouseSelector>a {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

#gryffindorselector>a:hover {
    color: darkred;
}

#slytherinselector>a:hover {
    color: darkgreen;
}

#ravenclawselector>a:hover {
    color: darkblue;
}

#hufflepuffselector>a:hover {
    color: darkgoldenrod;
}

#HousesBanner>img {
    width: 100%;
    margin: 1em 0 1.5em 0;
    display: block;
    height: 55vh;
}

#MainContent {
    margin: auto;
    width: 50%;
    height: 100%;
    color: white;
}

#MainContent>h1 {
    text-align: center;
}

#MainContent>p {
    text-align: center;
    padding: 15px;
}

.interface {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}

#gryffindorpage {
    background-color: red;
}

#ravenclawpage {
    background-color: blue;
}

#slytherinpage {
    background-color: green;
}

#hufflepuffpage {
    background-color: yellow;
}

article {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HouseImage>img {
    height: 100%;
    width: 100%;
}

.HouseText {
    width: 70%;
}

footer {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}